<%- include('includes/head.ejs') %>
        <main>
            <section>
                <div class="preguntas">
                    <h2>Sabias que... versión CSS</h2>
                    <h4> Uso de !important en un CSS</h4>
                    <p>Se utiliza para dar prioridad más alta a cierto estilo en el que se
                        lo usa, se evita que se sobreescriba o se seleccione otro estilo en
                        lugar del más importante. Muchas veces puede resultar en un problema
                        su uso, pues se puede estar modificando un estilo que no se ve
                        reflejado y fue por el hecho de que se usó important en otro
                        espacio. Realmente si se hicieran las cosas de manera organizada no
                        sería necesario utilizarlo.
                    </p>
                    <h4>Si se pone una imagen de fondo en una página HTML, ¿por qué debe
                        escogerse con cuidado?</h4>
                    <p>
                        Debe evaluarse el contraste que va a tener con el resto de
                        elementos, pues no debe afectar la visibilidad. A su vez también
                        debe tratarse de una imagen acorde al contenido, pues lo que se
                        busca es que esta complemente al resto de la página de manera
                        adecuada.
                    </p>
                    <h4>Unidades de un propiedad de estilo entre %, px y pt</h4>
                    <p>
                        Existen unidades de propiedad de estilo para determinar medidas con
                        relación a la pantalla. Los pixeles <strong>px </strong> y puntos
                        <strong>pt</strong> son unidades absolutas, pues no van a cambiar
                        entre un tamaño de pantalla y otro, se el valor que se use se va a
                        mantener constante. Por otro lado el porcentaje <strong>% </strong>
                        hará que el estilo se ajuste dependiendo de las dimensiones de la
                        pantalla.
                        Su uso siempre depende de lo que se necesite, aún así considero que
                        utilizando porcentaje <strong>% </strong> se pueden adaptar de mejor
                        forma los elementos dependiendo del tamaño de pantalla. Se pueden
                        utilizar ambos conceptos utilizando las medidas absolutas para
                        definir rangos de tamaño máximos o mínimos.
                    </p>
                    <h4>Uso de una versión minimizada del CSS para mejorar el rendimiento
                        del sitio</h4>
                    <p>
                        Al utilizar una versión minimizada del CSS se reduce el tráfico en
                        la red, el archivo se vuelve más liviano y rápido de procear al no
                        tener que ignorar espacios en blanco. La velocidad puede ser
                        imperceptible para los humanos pero ciertamente mejora en cuanto a
                        tiempo de procesamiento del dispositivo.
                    </p>
                </div>
            </section>
        </main>
        <footer>
            <h3>Referencias: </h3>
            <ol>
                <li>Aviani, G. (2019, September 12). An introduction to HTTP:
                    everything you need to know. FreeCodeCamp.Org.
                    https://www.freecodecamp.org/news/http-and-everything-you-need-to-know-about-it/</li>
                <li>HTML Tutorial. (n.d.). W3Schools.
                    https://www.w3schools.com/html/default.asp</li>
                <li>PowerData, R. (2019, June 7). Ciclo de vida de un sistema de
                    información: fases y componentes. PowerData.
                    https://blog.powerdata.es/el-valor-de-la-gestion-de-datos/ciclo-de-vida-de-un-sistema-de-informacion-fases-y-componentes</li>
                <li>Wikipedia contributors. (2021, February 10). Systems
                    development
                    life cycle. Wikipedia.
                    https://en.wikipedia.org/wiki/Systems_development_life_cycle#:%7E:text=According%20to%20Taylor%20(2004)%2C,on%20realizing%20the%20product%20requirements%22.</li>
            </ol>
            <hr>
        </footer>
<%- include('includes/footer.ejs') %>