<%- include('includes/head.ejs') %>
    <header>
        <h1>Laboratorio 13: MVC</h1>
    </header>
    <main>
        <section>
            <div class="preguntas">
                <h2>Sabias que... versión Modelo Vista Controlador</h2>
                <h4>Beneficios MVC</h4>
                <p>
                    Al usar el Modelo Vista Controlador se tiene mayor
                    organización al implementar capas en el código reduciendo la
                    deuda técnica permitiendo modificarlo de manera más sencilla
                    al tener cada proceso bien definido por separado. El
                    ruteador recibe las peticiones y las redirige a un
                    controlador, el Controlador se encarga de recibir peticiones
                    del cliente y procesarlas, las Vistas generan interfaces
                    para el usuario y el Modelo se encarga de manejar los datos
                    comunicándose con la base de datos.
                </p>
                <h4>Desventajas MVC</h4>
                <p>
                    Al separar por capas el código es más difícil ver su
                    funcionamiento a simple vista dado que se generan archivos
                    adicionales para cada parte funcional. Para seguir el hilo
                    del código hay que moverse entre diferentes archivos
                    concatenando cada relación que existe entre ellos para
                    poderlo entender.
                </p>
            </div>
        </section>
        <hr>
        <section>
            <div class="container">
                <h2>Validador de contraseñas</h2>
                <form action="inicio" method="POST">
                    <ul>
                        <li id="regla1">Contener mínimo 5 caracteres</li>
                        <li id="regla2">Contraseñas deben coincidir</li>
                    </ul>
                    <div class="form">
                        <input id="1pass" type="password" name="pass1" required>
                        <label>Contraseña</label>
                    </div>
                    <div class="form">
                        <input id="2pass" type="password" name="pass2" required>
                        <label>Verificar contraseña</label>
                    </div>
                    <button class="btn" onclick="verifyPassword()"
                        type="submit">Ingresar
                        a Productos</button>
                </form>
            </div>
        </section>
        <br>
        <hr>
    </main>
    <footer>
        <h3>Referencias: </h3>
        <ol>
            <li>MVC - MDN Web Docs Glossary: Definitions of Web-related terms |
                MDN. (2021, January 13). MDN Web Docs.
                https://developer.mozilla.org/en-US/docs/Glossary/MVC</li>
        </ol>
        <hr>
    </footer>
    <script src="/JS/password.js"></script>
    <%- include('includes/footer.ejs') %>