<%- include('includes/head.ejs') %>
        <main>
            <section>
                <div class="preguntas">
                    <h2>Sabias que... versión Programación Orientada a Eventos</h2>
                    <h4>¿Qué es Material Design?</h4>
                    <p>
                        Material Design es una normativa de
                        diseño desarrollada por Google, se
                        centra en representar visualmente
                        elementos como si fuesen de la realidad
                        tomando en cuenta luz, sombras,
                        animaciones y leyes físicas en general.
                        El diseño tiene sentido considerando
                        claridad, orden y colores. Se logra
                        jerarquizar los elementos al utilizar
                        luz y sombras, llamar la atención del
                        usuario utilizando animaciones y
                        mantener un diseño responsivo al hacerlo
                        adaptable.
                    </p>
                </div>
            </section>
        </main>
        <footer>
            <h3>Referencias: </h3>
            <ol>
                <li>Material Design. (n.d.). Material. <a href="https://material.io/design/introduction">https://material.io/design/introduction</a></li>
            </ol>
            <hr>
        </footer>
<%- include('includes/footer.ejs') %>