<%- include('includes/head.ejs') %>
        <main>
            <section>
                <div class="preguntas">
                    <h2>Sabias que... versión HTML Dinámico</h2>
                    <h4>¿Qué templating engines existen para Node?</h4>
                    <p>
                        Un template engine permite usar archivos plantilla
                        estáticos reemplazando variables por valores
                        transformando posteriormente la plantilla a HTML para
                        ser enviada al cliente.
                        Entre los más utilizados se encuentran:
                        <ul>
                            <li>Pug</li>
                            <li>Haml.js</li>
                            <li>EJS- Embedded Javascript template engine</li>
                            <li>React</li>
                            <li>hbs</li>
                        </ul>
                    </p>
                </div>
            </section>
        </main>
        <footer>
            <h3>Referencias: </h3>
            <ol>
                <li>Template Engines. (n.d.). Express.
                    https://expressjs.com/en/resources/template-engines.html</li>    
            </ol>
            <hr>
        </footer>
<%- include('includes/footer.ejs') %>