<%- include('includes/head.ejs') %>
        <main>
            <section>
                <div class="preguntas">
                    <h2>Sabias que... versión Sesiones y Cookies</h2>
                        <h4>Cookies y Sesiones</h4>
                        <p>
                            Una Cookie es un archivo pequeño que se envía al
                            cliente desde el servidor con información acerca de
                            su navegación. Estas mismas permiten que la
                            navegación sea más rápida al recordar datos en la
                            caché del navegador.
                        </p>
                        <p>
                            Una sesión es un historial del intercambio de
                            información entre el cliente y una página web, esta
                            tiene un inicio y un fin, se la puede utilizar
                            incluso si no existe una autenticación. Una sesión
                            engloba las acciones del usuario en la página web.
                            Cada sesión dura 30 minutos de manera
                            predeterminada. Las sesiones se almacenan de lado
                            del servidor.
                        </p>
                </div>
            </section>
        </main>
        <footer>
            <h3>Referencias: </h3>
            <ol>
                <li>BBC News Mundo. (2017, June 29). Qué ocurre cuando
                    aceptas las cookies y por qué es conveniente borrarlas
                    del navegador de vez en cuando.
                    https://www.bbc.com/mundo/noticias-40443519</li>
                <li>Cómo se define una sesión web en Universal Analytics -
                    Ayuda de Analytics. (n.d.). Google Analytics.
                    https://support.google.com/analytics/answer/2731565?hl=es</li>
            </ol>
            <hr>
        </footer>
<%- include('includes/footer.ejs') %>